<ion-header>
  <ion-toolbar>
    <ion-title>listFilms</ion-title>


    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
    

        <ion-item-sliding  *ngFor="let i of filmes">
          
        
            <ion-item>
               

              <ion-label>Name: {{ i.name }}</ion-label>
              <ion-label>Duration: {{ i.duration }} </ion-label>
            </ion-item>
        
             <ion-item-options side="end" (click)="Edit(i.id)">
                <ion-item-option color="dark" expandable>
                    <ion-icon slot="center" name="more"></ion-icon>
                  Edit
                </ion-item-option>
              </ion-item-options>

          </ion-item-sliding>
  
      
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addFilm()">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    

</ion-content>
