

.contenido{
 
    margin: 0 auto;
  
  }

  .contenido *{
 
    margin-top: 8px;
    
  }

  .nombre{
      
      width: 40%;
      margin-left: 35%;
      margin-top: 5%;
      align-content: center;
  }


  .seepass{
    width: 20%;
    margin-left: 80%;
  
  }

  .pass{
    width: 35%;
    margin-left: 35%;
    margin-top: 5%;
    align-content: center;
  }
  

  .forgot{
    margin-left: 40%;
    margin-top: 5%;
    align-content: center;
  }

  .register{
    margin-left: 40%;
    margin-top: 5%;
    align-content: center;
 
  }

  ion-img{
  
    align-content: center;
    margin-left: 35%;
    margin-top: 5%;
    height: 30%;
    width: 30%;
  }
  